<html lang="en">
<head>
  <meta charset="utf-8"/>
  <title>{{title}}</title>
</head>
<body>
  <h1>Welcome to page4</h1>
  
  <!-- links or URLs are always GET resources as they are getting (retrieving) a resource -->
  <a href="/">Home</a>
  <a href="/page1">Show Cats</a>
  <a href="/page2">Create/Search Cats</a>
  <a href="/page3">Create/Search Dogs</a>
  <a href="/getName?animal=dog">Show Name</a>
  
  {{#if dogs}}
    <ul>
      {{#each dogs}}
        <li> {{this.name}} is {{this.age}} years old and is a {{this.breed}}</li>
      {{/each}}
    </ul>
  {{/if}}
</body>
</html>